<p id="notice"><%= notice %></p>

<p>
  <strong>Seam:</strong>
  <%= @seam_stitch.seam_id %>
</p>

<p>
  <strong>Stitch:</strong>
  <%= @seam_stitch.stitch_id %>
</p>

<p>
  <strong>Prev seam stitch:</strong>
  <%= @seam_stitch.prev_seam_stitch_id %>
</p>

<p>
  <strong>Next seam stitch:</strong>
  <%= @seam_stitch.next_seam_stitch_id %>
</p>

<%= link_to 'Edit', edit_seam_stitch_path(@seam_stitch) %> |
<%= link_to 'Back', seam_stitches_path %>
