<h1>Listing stitches</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Source stitch commit</th>
      <th>Stitch commit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stitches.each do |stitch| %>
      <tr>
        <td><%= stitch.author_id %></td>
        <td><%= stitch.source_stitch_commit_id %></td>
        <td><%= stitch.stitch_commit_id %></td>
        <td><%= link_to 'Show', stitch %></td>
        <td><%= link_to 'Edit', edit_stitch_path(stitch) %></td>
        <td><%= link_to 'Destroy', stitch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stitch', new_stitch_path %>
