<h1>Listing seams</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start seam stitch</th>
      <th>End seam stitch</th>
      <th>Author</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seams.each do |seam| %>
      <tr>
        <td><%= seam.title %></td>
        <td><%= seam.start_seam_stitch_id %></td>
        <td><%= seam.end_seam_stitch_id %></td>
        <td><%= seam.author_id %></td>
        <td><%= link_to 'Show', seam %></td>
        <td><%= link_to 'Edit', edit_seam_path(seam) %></td>
        <td><%= link_to 'Destroy', seam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seam', new_seam_path %>
