<%= stylesheet_link_tag params[:controller] %>
<%= tag("div", id: "data", data: @data) %>


<div class="container main-seam-container">

  <p id="notice"><%= notice %></p>

  <%= link_to 'Back', seams_path %>


  <div class="row-fluid">
    <div class="span3 left-panel-region">
      <div id="left-panel-container" class="left-panel-container">
        Semantics Panel
      </div>
    </div>
    <div class="span9 center-panel-container">
      <!-- SEAM STITCH TIER 1 -->
      <div class="row-fluid seam-stitch-tier tier1">
        <div class="header seam-title"><%= @seam.title %>
        </div>
        <div class="header seam-author">Mainline story seam authored by: Square
        </div>
      </div>

      <div class="seam-stitch-container">
        <!-- SEAM STITCH TIER 2 -->
        <div class="row-fluid seam-stitch-tier tier2">
          <div class="span10 offset1 seam-stitch-header">
            Ancestory stitch summary: Magus reveals his connection to Lavos
          </div>
        </div>
        <!-- SEAM STITCH TIER 3 -->
        <div class="row-fluid seam-stitch-tier tier3">
<!--           <div class="span1 seam-stitch-left-panel">
          </div> -->

          <div id="seam-stitch-text" class="span10 offset1 seam-stitch-text">
            <%#= @seam_stitch.passage %>
          </div>
        </div>

        <div class="row-fluid seam-stitch-tier">
          <div class="span12">
            <div class="row-fluid">
              <div class="span2 offset4"><button id="prev-seam-stitch" class="btn btn-danger">Prev Stitch</button></div>
              <div class="span2"><button id="next-seam-stitch" class="btn btn-danger">Next Stitch</button></div>
            </div>
          </div>
        </div>
      </div>

      <div class="seam-stitch-tier4">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#seam-stitch-page-container" data-toggle="tab" id="seam-stitch-page-tab">Pages (<%#= @seam_stitch.offered_pages.count %>)</a>
          </li>
          <li>
            <a href="#seam-stitch-branch-container" data-toggle="tab" id="seam-stitch-bramch-tab">Branches (<%#= @seam_stitch.branches.count %>)</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="seam-stitch-page-container">
            <%= render "pages_section", seam_stitch: @seam_stitch %>
          </div>
          <div class="tab-pane" id="seam-stitch-branch-container">
            <%= render "branches_section", seam_stitch: @seam_stitch %>
          </div>
        </div>


    </div>
  </div>
</div>


<%= javascript_include_tag params[:controller] %>
